/* Nav Styles */

.nav {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

.nav-logo {
  font-size: 1.5em;
  font-weight: bold;
  margin-right: 1em;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  color: #ccc;
}
